########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################
config/local.js
